{% extends 'base.html.twig' %}

{% block title %}Edit FamilyEvent{% endblock %}

{% block body %}
    <h1>Edit FamilyEvent</h1>

    {{ include('family_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_family_event_index') }}">back to list</a>

    {{ include('family_event/_delete_form.html.twig') }}
{% endblock %}
