{% extends 'base.html.twig' %}

{% block title %}New FamilyEvent{% endblock %}

{% block body %}
    <h1>Create new FamilyEvent</h1>

    {{ include('family_event/_form.html.twig') }}

    <a href="{{ path('app_family_event_index') }}">back to list</a>
{% endblock %}
