{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe - Paramètres
{% endblock %}

{% block body %}
	{% include 'admin/settings/_navbar.html.twig' %}

	<div class="main-container">
		<div class="content-wrapper d-flex flex-column justify-content-start align-items-center pt-5">

			<div class="container mt-5" style="max-width: 500px;">
				<h3 class="fw-bold mb-4 text-center">Modifier mon mot de passe</h3>

				<div class="card shadow-sm border-0 p-4">
					<form method="post">
						<div class="mb-3">
							<label class="form-label">Nouveau mot de passe</label>
							<div class="input-group">
								<input type="password" name="password" id="inputPassword" class="form-control" required minlength="6">
								<button class="btn btn-outline-secondary" type="button" onclick="togglePassword('inputPassword', 'iconPass')">
									<i id="iconPass" class="bi bi-eye"></i>
								</button>
							</div>
							<div class="form-text text-muted small mt-1">
								<i class="bi bi-info-circle me-1"></i>
								Pour votre sécurité, utilisez au moins
								<strong>8 caractères</strong>. 
									                                Évitez les mots courants ou les suites logiques.
							</div>
						</div>

						<script>
							function togglePassword(inputId, iconId) {
const input = document.getElementById(inputId);
const icon = document.getElementById(iconId);

if (input.type === "password") {
input.type = "text";
icon.classList.remove("bi-eye");
icon.classList.add("bi-eye-slash");
} else {
input.type = "password";
icon.classList.remove("bi-eye-slash");
icon.classList.add("bi-eye");
}
}
						</script>

						<div class="d-flex justify-content-between mt-4">
							<a href="{{ path('app_admin_settings_index') }}" class="btn btn-outline-secondary">Annuler</a>
							<button type="submit" class="btn btn-primary">Mettre à jour</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
